In [1]:
import pandas as pd

In [22]:
df = pd.read_csv("../data/community-BT/non_c0_BT.csv")
display(df)
print(df['Pt'].tolist())

df = pd.read_csv("../data/community-BT/IRA_c0_BT.csv")
display(df)
print(df['Pt'].tolist())

,Unnamed: 0,Nt,Pt,Ns,Ns/Nt,Ps,Nu,Nt/Nu,Nsu,Ns/Nsu
0,fake,3035977,0.21,821515,0.27,0.25,84928,35.75,35331,23.25
1,extreme bias (right),3567019,0.25,849652,0.24,0.26,89804,39.72,37408,22.71
2,right,3203482,0.22,660018,0.21,0.20,94619,33.86,39330,16.78
3,right leaning,541224,0.04,113050,0.21,0.03,69048,7.84,20342,5.56
4,center,1781173,0.12,300807,0.17,0.09,89974,19.80,31335,9.60
5,left leaning,1517472,0.11,304905,0.20,0.09,86368,17.57,30526,9.99
6,left,647300,0.05,167272,0.26,0.05,56284,11.50,18077,9.25
7,extreme bias (left),89814,0.01,22022,0.25,0.01,10397,8.64,3336,6.60

[0.21, 0.25, 0.22, 0.04, 0.12, 0.11, 0.05, 0.01]

             Unnamed: 0    Nt    Pt    Ns  Ns/Nt    Ps  Nu  Nt/Nu  Nsu  Ns/Nsu
0                  fake  2429  0.17   600   0.25  0.12  72  33.74   44   13.64
1  extreme bias (right)  2796  0.20   239   0.09  0.05  69  40.52   40    5.98
2                 right  2770  0.20   358   0.13  0.07  84  32.98   50    7.16
3         right leaning   581  0.04   170   0.29  0.03  56  10.38   30    5.67
4                center  2223  0.16  1414   0.64  0.28  93  23.90   62   22.81
5          left leaning  2938  0.21  2253   0.77  0.44  89  33.01   65   34.66
6                  left   307  0.02    90   0.29  0.02  52   5.90   25    3.60
7   extreme bias (left)    16  0.00     2   0.12  0.00   8   2.00    2    1.00

[0.17, 0.2, 0.2, 0.04, 0.16, 0.21, 0.02, 0.0]

In [23]:
df = pd.read_csv("../data/community-BT/non_c1_BT.csv")
display(df)
print(df['Pt'].tolist())

df = pd.read_csv("../data/community-BT/IRA_c1_BT.csv")
display(df)
print(df['Pt'].tolist())

,Unnamed: 0,Nt,Pt,Ns,Ns/Nt,Ps,Nu,Nt/Nu,Nsu,Ns/Nsu
0,fake,54057,0.03,24863,0.46,0.03,2703,20.00,1207,20.60
1,extreme bias (right),67780,0.04,32543,0.48,0.04,3342,20.28,1578,20.62
2,right,99523,0.06,52727,0.53,0.06,5017,19.84,2500,21.09
3,right leaning,43974,0.03,23513,0.53,0.03,4821,9.12,2278,10.32
4,center,390683,0.23,198006,0.51,0.24,10385,37.62,4964,39.89
5,left leaning,540695,0.31,233594,0.43,0.28,11817,45.76,6278,37.21
6,left,445737,0.26,221026,0.50,0.27,9447,47.18,5002,44.19
7,extreme bias (left),82102,0.05,34323,0.42,0.04,3305,24.84,1421,24.15

[0.03, 0.04, 0.06, 0.03, 0.23, 0.31, 0.26, 0.05]

             Unnamed: 0    Nt    Pt   Ns  Ns/Nt    Ps   Nu  Nt/Nu  Nsu  Ns/Nsu
0                  fake   449  0.04  308   0.69  0.26   56   8.02    9   34.22
1  extreme bias (right)    79  0.01    5   0.06  0.00   47   1.68    5    1.00
2                 right   227  0.02   26   0.11  0.02   71   3.20   15    1.73
3         right leaning  1549  0.15   12   0.01  0.01   95  16.31    6    2.00
4                center  2687  0.25   63   0.02  0.05  121  22.21   26    2.42
5          left leaning  3287  0.31  475   0.14  0.41  123  26.72   22   21.59
6                  left  2263  0.21  271   0.12  0.23  113  20.03   35    7.74
7   extreme bias (left)    92  0.01   12   0.13  0.01   34   2.71    9    1.33

[0.04, 0.01, 0.02, 0.15, 0.25, 0.31, 0.21, 0.01]

In [24]:
df = pd.read_csv("../data/community-BT/non_c3_BT.csv")
display(df)
print(df['Pt'].tolist())

df = pd.read_csv("../data/community-BT/IRA_c3_BT.csv")
display(df)
print(df['Pt'].tolist())

,Unnamed: 0,Nt,Pt,Ns,Ns/Nt,Ps,Nu,Nt/Nu,Nsu,Ns/Nsu
0,fake,18887,0.08,6904,0.37,0.10,879,21.49,398,17.35
1,extreme bias (right),23542,0.10,8483,0.36,0.12,1000,23.54,478,17.75
2,right,22320,0.09,5893,0.26,0.08,1357,16.45,692,8.52
3,right leaning,7070,0.03,2802,0.40,0.04,1111,6.36,476,5.89
4,center,43851,0.18,10692,0.24,0.15,2314,18.95,1114,9.60
5,left leaning,66773,0.28,19690,0.29,0.27,2614,25.54,1355,14.53
6,left,48468,0.20,14923,0.31,0.21,1906,25.43,1015,14.70
7,extreme bias (left),10468,0.04,2864,0.27,0.04,704,14.87,272,10.53

[0.08, 0.1, 0.09, 0.03, 0.18, 0.28, 0.2, 0.04]

             Unnamed: 0  Nt    Pt  Ns  Ns/Nt   Ps  Nu  Nt/Nu  Nsu  Ns/Nsu
0                  fake  17  0.07   0   0.00  0.0  10   1.70    0     NaN
1  extreme bias (right)   8  0.03   2   0.25  0.2   7   1.14    2     1.0
2                 right  17  0.07   1   0.06  0.1  15   1.13    1     1.0
3         right leaning  23  0.09   0   0.00  0.0  21   1.10    0     NaN
4                center  66  0.26   1   0.02  0.1  37   1.78    1     1.0
5          left leaning  64  0.25   4   0.06  0.4  37   1.73    4     1.0
6                  left  57  0.22   2   0.04  0.2  36   1.58    2     1.0
7   extreme bias (left)   2  0.01   0   0.00  0.0   2   1.00    0     NaN

[0.07, 0.03, 0.07, 0.09, 0.26, 0.25, 0.22, 0.01]